<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Girls' Day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/jquery.fileupload.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/jquery-1.11.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/masonry.pkgd.min.js"></script>
    <script src="/javascripts/mustache.min.js"></script>
    <script src="/javascripts/imagesloaded.pkgd.min.js"></script>
    <script src="/javascripts/socket.io.min.js"></script>
    <script src="/javascripts/jquery.ui.widget.min.js"></script>
    <script src="/javascripts/jquery.fileupload.min.js"></script>
    <script src="/javascripts/index.js"></script>
  </head>
  <body class="<%= {'male': 'male', 'female': 'female'}[user && user.gender] || 'default' %>" data-user-email="<%= user ? user.email : '' %>">
    <header id="header" role="banner">
      <div id="banner">
        <img src="/images/banner-<%= {'male': 'male', 'female': 'female'}[user && user.gender] || 'default' %>.png" alt="">
      </div>
    </header>
    <div class="container">
      <div class="row hidden-print">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <div id="notification-panel">
            <div class="alert alert-danger" data-template-type="error">
              {{# title }}<strong>{{ title }}</strong>{{/ title }}
              {{ content }}
            </div>
            <div class="alert alert-success" data-template-type="success">
              {{# title }}<strong>{{ title }}</strong>{{/ title }}
              {{ content }}
            </div>
          </div>
        </div>
      </div>
      <div class="row hidden-print">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
<% if (!user) { %>
          <div id="sign-in-panel" class="form-group"><a class="btn btn-lg btn-danger" href="/auth"><span class="glyphicon glyphicon-refresh icon-spin loading"></span> <span class="text">使用 Google 账号登录</span><span class="loading">正在登录……</span></a></div>
<% } else { %>
          <div id="user-info-panel" class="clearfix">
            <strong><span class="glyphicon glyphicon-user"></span> <%= user.name %></strong> <span class="email">&lt;<%= user.email %>&gt;</span>
            <span class="pull-right"><a href="/logout" class="btn btn-default"><span class="glyphicon glyphicon-log-out"></span> 退出</a></span>
          </div>
<%   if (user.authorized) { %>
          <div id="new-post-panel">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#new-message" data-toggle="tab"><span class="glyphicon glyphicon-pencil"></span> 消息</a></li>
<%     if (user.gender == 'female') { %>
              <li><a href="#new-wish" data-toggle="tab"><span class="glyphicon glyphicon-heart"></span> 心愿</a></li>
<%     } %>
              <li><a href="#new-picture" data-toggle="tab"><span class="glyphicon glyphicon-picture"></span> 图片</a></li>
            </ul>
            <div class="tab-content">
              <div id="new-message" class="tab-pane active">
                <div class="form-group">
                  <label class="sr-only" for="message-input">写消息</label>
                  <textarea type="text" class="form-control" id="message-input" placeholder="写消息"></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-default" id="new-message-btn"><span class="glyphicon glyphicon-envelope"></span> 发送</button>
                </div>
              </div>
<%     if (user.gender == 'female') { %>
              <div id="new-wish" class="tab-pane">
                <div class="form-group">
                  <label class="sr-only" for="wish-input">写愿望</label>
                  <textarea type="text" class="form-control" id="wish-input" placeholder="快写下你的女生节愿望吧～"></textarea>
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input id="secret-wish-checkbox" type="checkbox"> 只有我能看见
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-default" id="new-wish-btn"><span class="glyphicon glyphicon-send"></span> 许愿</button>
                </div>
              </div>
<%     } %>
              <div id="new-picture" class="tab-pane">
                <div class="no-file-input hidden well">
                  <p>你的浏览器不支持文件上传功能，不能分享图片。:(</p>
                </div>
                <div class="form-group">
                  <span class="btn btn-primary fileinput-button upload-button">
                    <i class="glyphicon glyphicon-plus"></i> 选择图片
                    <input id="picture-upload" type="file" name="image" accept="image/*" capture="camera">
                  </span>
                  <button class="btn btn-danger cancel-button hidden"><span class="glyphicon glyphicon-ban-circle"></span> 取消</button>
                  <div class="upload-result hidden">已上传图片 <span class="file-name"><a href="#" target="_blank"></a></span> <span class="file-size"></span></div>
                  <button class="btn btn-danger delete-button hidden"><span class="glyphicon glyphicon-remove"></span> 删除</button>
                </div>
                <div class="progress progress-striped active hidden">
                  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <span class="sr-only"></span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="picture-description-input">图片描述</label>
                  <textarea type="text" class="form-control" id="picture-description-input" placeholder="图片描述"></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-default" id="new-picture-btn"><span class="glyphicon glyphicon-share"></span> 分享</button>
                </div>
              </div>
            </div>
          </div>
<%   } else { %>
          <div id="unauthorized-user-panel">
            <div class="well well-lg">
              <p>你不是授权用户，不能发布内容哦～</p>
            </div>
          </div>
<%   }
   } %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <div id="post-panel" class="row">
            <div class="post-item-sizer col-xs-12 col-sm-6"></div>
            <div class="post-item col-xs-12 col-sm-6" data-template-type="message">
              <div class="post-item-inner {{ user.gender }}">
                <header class="clearfix">
                  <div class="avatar pull-left">
                    <img class="img-circle" data-src="{{ user.picture }}" alt="{{ user.name }}">
                  </div>
                  <div class="post-info">
                    <div>
                      <strong>{{ user.name }}</strong>
                    </div>
                    <div class="text-muted">
                      <time>{{ time }}</time>
                    </div>
                  </div>
                </header>
                <div class="content">
                  <pre>{{ content }}</pre>
                </div>
              </div>
            </div>
            <div class="post-item col-xs-12 col-sm-6" data-template-type="wish">
              <div class="post-item-inner {{ user.gender }}">
                <header class="clearfix">
                  <div class="avatar pull-left">
                    <img class="img-circle" data-src="{{ user.picture }}" alt="{{ user.name }}">
                  </div>
                  <div class="wish-bg pull-right"><span class="glyphicon glyphicon-heart"></span></div>
                  <div class="post-info">
                    <div>
                      <strong>{{ user.name }}</strong>
                    </div>
                    <div class="text-muted">
                      <time>{{ time }}</time>
                    </div>
                  </div>
                </header>
                <div class="content">
                  <pre>{{ content }}</pre>
                </div>
              </div>
            </div>
            <div class="post-item col-xs-12 col-sm-6" data-template-type="picture">
              <div class="post-item-inner {{ user.gender }}">
                <header class="clearfix">
                  <div class="avatar pull-left">
                    <img class="img-circle" data-src="{{ user.picture }}" alt="{{ user.name }}">
                  </div>
                  <div class="post-info">
                    <div>
                      <strong>{{ user.name }}</strong>
                    </div>
                    <div class="text-muted">
                      <time>{{ time }}</time>
                    </div>
                  </div>
                </header>
                <div class="content">
                  <div class="picture-wrapper">
                    <span class="glyphicon glyphicon-refresh icon-spin loading"></span>
                    <a href="{{ url }}" target="_blank"><img class="hidden" data-src="{{ url }}" alt=""></a>
                  </div>
                  <pre>{{ description }}</pre>
                </div>
              </div>
            </div>
            <div class="post-item invitation-item col-xs-12" data-template-type="invitation">
              <div class="post-item-inner">
                <div class="content">
                  <img class="invitation" alt="">
                </div>
              </div>
            </div>
          </div>
          <div id="post-loading-panel" class="row hidden">
            <div class="col-xs-12">
              <span class="glyphicon glyphicon-refresh icon-spin"></span> 正在加载更多精彩内容……
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="container">
        <p class="copyright">THSS10 &copy; 2014</p>
        <p class="copyright">使用 <a href="http://express-io.org" target="_blank">Express.io</a> 和 <a href="http://getbootstrap.com" target="_blank">Bootstrap</a> 构建&nbsp;&nbsp;|&nbsp;&nbsp;素材来自 <a href="http://www.a-li.com.cn" target="_blank">阿狸</a>
        </p>
      </div>
    </footer>
  </body>
</html>
